/* Experimenting with vh and vw for unit size but not consistently across all selectors. */

/* Each "panel" div is made to be interchangable and modular */

/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family:Roboto, serif; /* Use Roboto for all text */

    padding:0;
    margin:0;
}

/* link style */
a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-panel{
    background:#1F2937;
    padding: 0 15vw; /* sets the left right padding for the header panel */
}

/* top row of header which includes logo and menu */
.header-top{
    display:flex;
    justify-content: space-between;
    align-items:center;

    padding: 10px 0; /* padding needed here instead of margin because the top margin is the background color (white) */
}

.header-logo {
    color:#F9FAF8;
    font-size: 24px;
    font-weight:bold;
}

.menu {
    display:flex;

    font-size: 18px;
    list-style-type:none; /* remove underline under link */

    gap: 20px; /* set the space between header link */

    /* remove default margin and padding for ul itms in the menu div */
    margin: 0px; 
    padding: 0px;
}

.header-content {
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding: 100px 0; /* padding needed here instead of margin because the bottom margin is the background color (white) */

    gap: 100px; /* padding between header-text and header picture */
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight:bolder;
}

.hero-secondary-text {
    color: #F9FAF8;
    font-size: 18px;
    flex-wrap:wrap;
    padding-top:10px; /*padding within header-content */
    padding-bottom:10px;
}

.header-button {
    background: #3882f6;
    color:#F9FAF8;
    font-weight:bold;

    border-radius:10px;
    padding: 10px 20px;
    border:0;
}

.infographic-panel {
    padding-top: 5vh;
    padding-bottom: 10vh;

    padding-left :15vw;
    padding-right: 15vw;
    
    gap: 5vh; 
}

.infographic-title {
    color: #1F2937;
    font-size: 36px;
    font-weight:bolder;
    text-align:center;

    padding-bottom:5vh;
}

.infographic-container{
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
    gap: 20px; /* gap between infographic items */
}

.infographic-image{
    width:150px;
    height:150px;
    border: 3px solid #3882f6;
    border-radius: 25px;

    box-sizing: border-box; /* Use the alternative box model so that padding subtracts from image size instead of adding onto the sides on top of image size */
    padding: 20px;
}

.infographic-text {
    width: 150px;
    font-size: 16px;
    line-height: 125%; /* increase the line spacing for this selector only */

    margin-top:15px;

    text-align:center;
}

.quote-panel {
    background: #E5E7EB;
    padding: 10vh 20vw;
}

.quote-text {
    color:#1F2937;
    font-size:26px;
    font-style: italic;
    text-align: justify;

}

.quote-author {
    text-align:end; /* set the author text to the right */
    padding-top: 10px;
}

.calltoaction-panel {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    
    background: #3882f6;
    color: #F9FAF8;
    padding: 50px 100px;
    margin: 50px 200px; /* margin "color" is the background set in body (white) */

    border-radius: 25px;
}

.calltoaction-header {
    font-weight:bolder;
}


.calltoaction-button {
    background: #3882f6; /* same background as calltoaction-panel color */
    font-weight:bold;

    border: 2px solid #F9FAF8;
    border-radius:10px;

    padding: 10px 20px;

    color:#F9FAF8;
}

.footer-panel{
    height: 72px;

    /* flex container so that text is centered in header */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    background:#1F2937; /* same color as header background color */
    color:#F9FAF8;
    font-size:12px;
}