/* Experimenting with vh and vw for unit size but not consistently across all selectors. */



body {
    display:flex;
    flex-direction: column;
    padding:0;
    margin:0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}


.header-panel{
    background:#1F2937;
    display:flex;
    justify-content:center;
    flex-direction:column;
    padding: 0 15vw;
}

/* top row of header which includes logo and menu */
/* a column flex item and row flex container*/
.header-top{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 5vh 0;
}

.header-logo {
    color:#F9FAF8;
    font-size: 24px;
    font-weight:bold;

}

ul.menu{
    list-style-type:none;
    margin: 0px;
    padding: 0px;
}


.menu li a {
    font-size: 18px;
}

.menu {
    display:flex;
    gap: 20px;
}

.header-content {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10vh 0;
    gap: 100px;
}

.header-text {

}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight:bolder;
}

.hero-secondary-text {
    color: #F9FAF8;
    font-size: 18px;
    flex-wrap:wrap;
}


/* is there a more elegant way than flex-direction:column? Even though it is redudant (body flex-direction is already column), I like the way this organizes the site in modular sections*/
.infographic-panel {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding: 5vh 15vw;
    gap: 5vh;
}

.infographic-title {
    color: #1F2937;
    font-size: 36px;
    font-weight:bolder;
}

.infographic-container{
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
    gap: 20px;
}

.infographic.item {
    padding: 0px 0px;

}

.infographic-image{
    width:150px;
    height:150px;
    border: 2px solid #3882f6;
    border-radius: 25px;

}

.quote-panel {
    display: flex;
    flex-direction: column;
    background: #E5E7EB;
    padding: 10vh 20vw;
    gap: 2vh;
}

.quote-text {
    color:#1F2937;
    font-size:26px;
    font-style: italic;
    text-align: justify;
    justify-content:center;
    align-items:center;

}

.quote-author {
    text-align:end;


}

.calltoaction-panel {
    background: #3882f6;
    color: #F9FAF8;
    padding: 50px 200px;
    margin: 50px 200px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    border: 2px solid #F9FAF8;
    border-radius: 25px;
}

.calltoaction-text{
    display:flex;
    flex-direction: column;
}

.calltoaction-header {

}

.calltoaction-body{

}

.footer a {
    font-size: 12px;
}

.footer{
    height: 72px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background:#1F2937;
    color:#F9FAF8;
    font-size:12px;
    gap:5px;
}

